body {
  background-image: url("assets/sunny-day.jpg"); 
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.city {
  border-radius: 10px;
  border: 1px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 80px;
  text-align: center;
  font-size: 18px;
  font-family: arial;
}

.description {
  border-radius: 10px;
  border: 1px solid #73AD21;
  padding: 20px;
  width: 160px;
  height: 80px;
  text-align: center;
  font-size: 18px;
  font-family: arial;
  margin-left: 5px;
}

.wind {
  border-radius: 10px;
  border: 1px solid #73AD21;
  padding: 20px;
  width: 160px;
  height: 80px;
  text-align: center;
  font-size: 18px;
  font-family: arial;
  margin-left: 5px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}