html, body {
    height: 100%;
}

body {
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}

.flex-container,
.inner-container,
.temperature {
  display: flex;
  justify-content: center;
}

.flex-container {
  align-items: center;
  height: 100%;
}

.inner-container {
  flex-direction: column;
  margin-bottom: 75px;
}

.temperature {
  align-items: center;
  font-size:40px;
  font-family: 'Roboto', sans-serif;  
}

.city, 
.description,
.wind {
  border-radius: 10px;
  border: 1px solid rgba(192,192,192,0.3);
  background-color:rgba(192,192,192,0.3);
  font-family: 'Roboto', sans-serif;  
  padding: 15px;
  height: 80px;
  text-align: center;
  font-size: 25px;  
}

.city {
  width: 200px;
}

.description, 
.wind {
  width: 160px;
  margin-left: 5px;
} 

.description {
  padding: 10px
}

.degress {
  color:blue;
  cursor: pointer; 
  font-family: 'Roboto', sans-serif;
}

.icon {
  height: 75px;  
}
